@import '~antd/dist/antd.less';

.title {
  margin-bottom: 0 !important;
}

.price {
  margin-bottom: 0 !important;
  float: right;
}

.stock-text {
  color: #1DA57A
}

.material-badge {
  background: #1ca67a;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.75rem;
}

.product-grid {
  height: 100vh;
  overflow: scroll;
}

.left {
  float: left;
  width: 70%;
  height: 100vh;
  overflow: scroll;
}
.right {
  float: left;
  width: 30%;
  height: 100vh;
  overflow: scroll;
}